
  <%= form_with url: search_users_path, method: :get, local: true do |f| %>
   <div class = "row" >
    <div class="form-inline form-group col-sm-6">
      <%= f.label :team_id, 'お気に入りチーム' , :class => "col-form-label" %>
      <%= f.collection_select :team_id, Team.all, :id, :name, {} ,{:class => "form-control"} %>
      <%= f.submit :ユーザー検索 ,:class => 'btn btn-primary m-1' %>
    </div>
  </div>
  <% end %>

<%= render 'users', users: @users %>
