<div class="text-center">
  <h1>試合詳細</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
      
　    <p>日付：<%= @game.date %></p>
　    <p>対戦相手：<%= @game.enemy %></p>
　    <p>球場：<%= @game.place %></p>
　    <p>結果：<%= @game.result %></p>
　    <p>一言メモ：<%= @game.topic %></p>
　    <p>感想：<%= @game.content %></p>
　    <%= link_to "戻る", user_path(@user) , class: 'btn btn-secondary' %>
  </div>
</div>
